<!DOCTYPE html>
<html>
<head>
  <title>Sudoku Online</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/sudokuAlg.js"></script>
</head>
<body>
	<div class="container-fluid">
    <div class="header clearfix">
      <nav>
        <ul class="nav nav-pills pull-right">
          {{#if user}}
            <li><button id="solver" class="btn btn-default">Solver</button></li>
          {{/if}}
          <li><button id="4by4" class="btn btn-default">4 by 4</button></li>
          {{#if user}}
            <li role="presentation"><a href="/users/times">Personal times</a></li>
            <li role="presentation"><a href="/users/logout">Logout</a></li>
          {{else}}
            <li role="presentation"><a href="/users/login">Login</a></li>
            <li role="presentation"><a href="/users/register">Register</a></li>
          {{/if}}
        </ul>
      </nav>
      <a href="/" class="text-muted">Sudoku Online</a>
    </div>

    <div id="sdk-container" class="row justify-content-start">
      <div class="col-lg-8">
        {{#if success_msg}}
          <div class="alert alert-success">{{success_msg}}</div>
        {{/if}}

        {{#if error_msg}}
          <div class="alert alert-danger">{{error_msg}}</div>
        {{/if}}

        {{#if error}}
          <div class="alert alert-danger">{{error}}</div>
        {{/if}}
        
        {{{body}}}
      </div>

      <div class="col">
        <div class="container" id="timer-container" style="float: right;">
          fgdfgdfgdf
        </div>
      </div>

    </div>

  </div>

  <div class="container-fluid">
    <footer class="footer">
      <p>&copy; Sudoku Application </p>
    </footer>
  </div>

  <script type="text/javascript">
    $('#solver').click(() => {
      $(location).attr('href', '/solver');
    });
  </script>
</body>
</html>
